<h2>Edit <%= resource_name.to_s.humanize %> Information</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>* <br />
  <%= f.email_field :email %></div>
  <p></p>
    
  <div><%= f.label "Display name" %><br />
  <%= f.text_field :username, :autocomplete => :off %></div>
  
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => :off %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :autocomplete => :off %></div>
  <p></p>
  
  <div><%= f.label :current_password %>* <br />
  <!--<i>(we need your current password to confirm your changes)</i>-->
  <%= f.password_field :current_password, :autocomplete => :off %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<p>* indicates a required field</p>

<!--<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>-->

<%= link_to "Back", :back %>
