<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>QED</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</div>

<% flash.each do |key, value| %>
	<p><%= value %></p>
<% end %>

<div id="page"> 
    <div id="header">
    	<div class="title">QED</div>
        <div class="subText">Problem Solved. </div>
    </div>
    <div id="bar">

    </div>    
    
    <div id="pageContent">
    
</div>
        
</body>
<%= yield %>
 <div class="articleTitle"></div>
 <div class="articleTitle"></div>
</body>

<div id="footer">component author: gabrielle badie, <a href="http://www.aszx.net">html design template</a> by <a href="http://www.bryantsmith.com">bryant smith</a></div>

</html>
