<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
  <div><%= "Password reset email functionality is currently unavailable." %></div>
  <div><%= "Password reset button will not work when locally hosted." %></div>
  <div><%= "This is out of the scope of this component." %></div>
<% end %>

<%= render "devise/shared/links" %>
