/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
text-align: left;
margin-left:50px;
}
p {
text-align: left;
margin-left:50px;
}

small {
text-align: left;
margin-left:50px;
}

h2 {
text-align: left;
margin-left:50px;
}



body {
	margin: 0px;
	padding: 0;
	background: #333333 url(images/img01.gif) repeat-x;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #F1F5F8;
	background-color:#FF8000;
}
*
{
  margin: 2000 auto 0 auto;
 text-align:left;
}

#header {
	position:relative;
	width: 680px;
	height:99px;
	margin-left:29px;
	margin-right:21px;
	background: url(header.png) no-repeat;
}

#page
{
  margin: 0 auto 0 auto; 
  display: table; 
  height: 100%;  
  position: relative; 
  overflow: hidden; 
  background: #252F33 url(images/background.png) repeat-y;
  width: 730px;
}


.title
{
position:relative;
top:22px;
text-align:left;
margin-left:50px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:32px;
font-weight:bold;
color:#192B33;
}

.subText
{
position:relative;
left:62px;
top:26px;
margin-left:50px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:12px;
font-weight:bold;
color:#2D4E5B;
}


.articleTitle
{
text-align:left;
margin-left:50px;
padding-top:10px;
padding-bottom:10px;
color: #8FB359;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:22px;
font-weight:bold;
}

.articleContent
{
width:auto;
position:relative;
padding-left:50px;
color:#F8FBFC;
text-align:left;
font-family:Arial, Helvetica, sans-serif;
line-height:27px;
}

.rightLinks
{
width: 102px;
font-size:11px;
font-weight:bold;
line-height:21px;
height:auto;
margin-right:-2px;
margin-left:50px;
background-image:url(links_branch.png);
background-repeat:no-repeat;
text-align:right;
float:right;
}

#bar
{
	position:relative;
	width: 680px;
	height:57px;
	margin-left:29px;
	margin-right:21px;
	background: url(bar.png) no-repeat;
}

.menuLink
{
	height:37px;
	width: 105px;
	text-align:left;
	margin-left:50px;
	float:left;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#EAD5A8;
	padding-top:18px;
}

.menuLink a
{
	color:#192B33;
}

.menuLink a:hover
{
	color:#FF8000;
}


.menuLink:hover
{
	background: url(bar2.png) repeat-x;
}

a
{
text-decoration:none;
color:#8FB359;
}

#pageContent
{
width: 680px;
height:auto;
padding-bottom:20px;
}

#footer {

	width: 730px;
	height:60px;
	background: url(footer.png) no-repeat;
text-align:center;
font-size:9px;
color:#386172;
padding-top:36px;
}

#footer a
{
font-size:10px;
color:#386172;
}


html, body {
text-align: left;
}
p {text-align: left;}
small {text-align: left;}
h2 {text-align: left;}
