<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>QED</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
	<p><%= value %></p>
<% end %>

<div id="page"> 
    <div id="header">
    	<div class="title">QED</div>
        <div class="subText">Problem Solved. </div>
    </div>
    <div id="bar">

    </div>
    
    
    <div id="pageContent">
    



<%= yield %>
</div>

<div id="footer"><a href="http://www.aszx.net">web development</a> by <a href="http://www.bryantsmith.com">bryant smith</a></div>

</body>
</html>
