
<% @posts.each do |post| %>
	<% if post.role == 1 %>
			<h2>Announcement: <%= link_to post.title, post %></h2>
	<% end %>
	<% if post.role == 0 %>
		<h2><%= link_to post.title, post %></h2>
	<% end %>
	<h2><%= link_to post.title, post %></h2>
	<p><%= truncate post.content%></p>
	<small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= time_ago_in_words post.created_at %> ago, by <%= post.displayname %></small>

<% end %>



<p><%= link_to "Add a New Post", new_post_path %></p>

