<h2><%= @post.title %></h2>
	<% content = (@post.content).split("<latex>") %>
	
	<% if @post.content.starts_with?("<latex>") %>
	
		<% i = 0 %>
		
		<% while (i < content.length) do %>
			<%# image_tag Tex2png.new_image(content[i]) %>
			<%= image_tag "http://www.khwiki.net/images/thumb/4/4a/King_Mickey_KHREC.png/337px-King_Mickey_KHREC.png" %>
			<% if (i != ((content.length)-1)) %>
			<p> <%=content[i+1] %></p>
			<% end %>
			<% i = i+2 %>
		<% end %>
		
	<% else %>
		<p><%= content[0] %> </p>
		<% i = 1 %>
		<% while (i < content.length) do %>
			<%# image_tag Tex2png.new_image(content[i]) %>
			<%= image_tag "http://www.khwiki.net/images/thumb/4/4a/King_Mickey_KHREC.png/337px-King_Mickey_KHREC.png" %>
			<% if (i != ((content.length)-1)) %>
			<p> <%=content[i+1] %></p>
			<% end %>
			
			<% i = i+2 %>
		<% end %>
	<% end %>


<br></br>

<small><%= link_to "Edit", edit_post_path(@post)%><small>
<small><%= @post.created_at %></small>
